body {
    background-color: #000;
    font-family: sans-serif;
}

.dock-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.dock {
    display: flex;
}

.dock-icon {
    width: 64px;
    height: 64px;
    outline: solid 1px #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}